
<md-card flex="100">
    <md-card-content class="">
        <h3 class="md-headline">{{detail.project.name}}</h3>
        <h5 class="md-subhead">{{detail.project.subname}}</h5>
        <md-list>
            <md-list-item>
                <md-icon class="material-icons" hide-sm>description</md-icon>
                <p> {{ detail.project.desc }} </p>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item>
                <md-icon class="material-icons" hide-sm>event_note</md-icon>
                <md-tooltip md-direction="top">project year</md-tooltip>
                <p> {{ detail.project.period }} </p>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item>
                <md-icon class="material-icons" hide-sm>code</md-icon>
                <p> {{ detail.project.technology }} </p>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item>
                <md-icon class="material-icons" hide-sm>group</md-icon>
                <md-tooltip md-direction="top">project team</md-tooltip>
                <p> {{ detail.project.team }} </p>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item>
                <md-icon class="material-icons" hide-sm>assignment_turned_in</md-icon>
                <md-tooltip md-direction="top">project tasks</md-tooltip>
                <p> {{ detail.project.tasks }}</p>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item>
                <md-icon class="material-icons" hide-sm>business</md-icon>
                <md-tooltip md-direction="top">client</md-tooltip>
                <p> {{ detail.project.client }} </p>
                <md-divider data-ng-if="detail.project.demo"></md-divider>
            </md-list-item>
            <md-list-item data-ng-if="detail.project.demo">
                <md-icon class="material-icons" hide-sm>ondemand_video</md-icon>
                <p> {{ detail.project.demo }} </p>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-divider></md-divider>
    <div class="md-actions" layout="row" layout-align="end center">
        <md-button data-ng-click="detail.goBack()">
            go Back
        </md-button>
    </div>
</md-card>


<!--<md-toolbar md-theme="{{ detail.project.theme }}" class="md-primary">-->
    <!--<div class="md-toolbar-tools">-->
        <!--<h2 class="md-flex">{{detail.title}}</h2>-->
        <!--<span flex=""></span>-->
        <!--<button class="md-icon-button md-button" aria-label="go back" data-ng-click="detail.goBack()" tabindex="0">-->
            <!--<md-icon class="material-icons" aria-hidden="true">close</md-icon>-->
            <!--<md-tooltip hide-sm>go back</md-tooltip>-->
        <!--</button>-->
    <!--</div>-->
<!--</md-toolbar>-->
<!--<md-content>-->
    <!--<md-list>-->
        <!--<md-list-item>-->
            <!--<md-icon class="material-icons" hide-sm>description</md-icon>-->
            <!--<p> {{ detail.project.desc }} </p>-->
            <!--<md-divider></md-divider>-->
        <!--</md-list-item>-->
        <!--<md-list-item>-->
            <!--<md-icon class="material-icons" hide-sm>event_note</md-icon>-->
            <!--<md-tooltip md-direction="top">project year</md-tooltip>-->
            <!--<p> {{ detail.project.period }} </p>-->
            <!--<md-divider></md-divider>-->
        <!--</md-list-item>-->
        <!--<md-list-item>-->
            <!--<md-icon class="material-icons" hide-sm>code</md-icon>-->
            <!--<p> {{ detail.project.technology }} </p>-->
            <!--<md-divider></md-divider>-->
        <!--</md-list-item>-->
        <!--<md-list-item>-->
            <!--<md-icon class="material-icons" hide-sm>group</md-icon>-->
            <!--<md-tooltip md-direction="top">project team</md-tooltip>-->
            <!--<p> {{ detail.project.team }} </p>-->
            <!--<md-divider></md-divider>-->
        <!--</md-list-item>-->
        <!--<md-list-item>-->
            <!--<md-icon class="material-icons" hide-sm>assignment_turned_in</md-icon>-->
            <!--<md-tooltip md-direction="top">project tasks</md-tooltip>-->
            <!--<p> {{ detail.project.tasks }}</p>-->
            <!--<md-divider></md-divider>-->
        <!--</md-list-item>-->
        <!--<md-list-item>-->
            <!--<md-icon class="material-icons" hide-sm>business</md-icon>-->
            <!--<md-tooltip md-direction="top">client</md-tooltip>-->
            <!--<p> {{ detail.project.client }} </p>-->
            <!--<md-divider></md-divider>-->
        <!--</md-list-item>-->
        <!--<md-list-item data-ng-if="detail.project.demo">-->
            <!--<md-icon class="material-icons" hide-sm>ondemand_video</md-icon>-->
            <!--<p> {{ detail.project.demo }} </p>-->
            <!--<md-divider ng-if="!$last"></md-divider>-->
        <!--</md-list-item>-->
    <!--</md-list>-->
<!--</md-content>-->
