<div class="spinner" data-ng-show="list.isBusy" layout-padding layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<md-card flex-gt-lg="45" flex="45" flex-md="80" flex-sm="100"
         data-ng-show="!list.isBusy"
         ng-repeat="item in list.projects">
    <md-card-content>
        <h3 class="md-headline">{{item.name}}</h3>
        <h5 class="md-subhead">{{item.desc}}</h5>
    </md-card-content>
    <md-divider></md-divider>
    <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-click="list.gotoProject(item)">
            Details
        </md-button>
    </div>
</md-card>
