<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title ng-bind="title"></title>
    <base href="/">
    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        
        .ng-hide {
            display: none !important;
        }
    </style>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="/bower_components/toastr/toastr.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/app.css-->
    <!-- inject:css -->
    <link rel="stylesheet" href="/.tmp/styles.css">
    <!-- endinject -->
    <!-- endbuild -->
</head>

<body layout="row" data-ng-controller="Main as main">

    <div class="splash" data-ng-if="main.isBusy">
        <img src="images/svg-loaders/grid.svg" width="50" />
    </div>

    <md-sidenav class="md-primary site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
    data-ng-if="!isIntro && main.isAuth">
        <header class="nav-header">
            <a ng-href="/profile" class="docs-logo" href="/">
                <img src="images/profile.png" alt="">
            </a>
        </header>
        <pb-bio></pb-bio>
    </md-sidenav>

    <div layout="column" flex class="fill-height" style="position: relative;">

        <div data-ng-include="'app/layout/topnav.html'" data-ng-if="!isIntro"></div>

        <md-content class="shuffle-animation main-content" ui-view flex md-scroll-y></md-content>

        <div data-ng-include="'app/layout/middlenav.html'"></div>

        <footer data-ng-if="!isIntro" data-ng-cloak style="opacity:0.6;">
            <md-button md-offset="0 -7" aria-label="Open menu" class="md-icon-button" ng-click="main.showBottomSheet($event)">
                <md-icon class="material-icons">announcement</md-icon>
            </md-button>
        </footer>

        <md-button class="md-icon-button githubsource" data-ng-if="!main.isBusy" hide-sm aria-label="Source on Github" 
            href="https://github.com/patrykbialek/resume-project" target="_blank">
            <md-tooltip hide-sm>Source on Github</md-tooltip>
            <img src="images/GitHub-Mark-Light-120px-plus.png" style="width:65%;" alt="github">
        </md-button>
    </div>

    <!-- build:js js/lib.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/firebase/firebase.js"></script>
    <script src="/bower_components/angularfire/dist/angularfire.js"></script>
    <script src="/bower_components/extras.angular.plus/ngplus-overlay.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/toastr/toastr.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js js/app.js-->
    <!-- inject:js -->
    <script src="/src/client/app/app.module.js"></script>
    <script src="/src/client/app/blocks/diagnostics/diagnostics.module.js"></script>
    <script src="/src/client/app/blocks/exception/exception.module.js"></script>
    <script src="/src/client/app/blocks/logger/logger.module.js"></script>
    <script src="/src/client/app/blocks/router/router.module.js"></script>
    <script src="/src/client/app/core/core.module.js"></script>
    <script src="/src/client/app/intro/intro.module.js"></script>
    <script src="/src/client/app/layout/layout.module.js"></script>
    <script src="/src/client/app/sections/experience/experience.module.js"></script>
    <script src="/src/client/app/sections/projects/projects.module.js"></script>
    <script src="/src/client/app/sections/sections.module.js"></script>
    <script src="/src/client/app/blocks/diagnostics/diagnostics.decorator.js"></script>
    <script src="/src/client/app/blocks/exception/exception-handler.provider.js"></script>
    <script src="/src/client/app/blocks/exception/exception.js"></script>
    <script src="/src/client/app/blocks/logger/logger.js"></script>
    <script src="/src/client/app/blocks/router/router-helper.provider.js"></script>
    <script src="/src/client/app/core/authService.js"></script>
    <script src="/src/client/app/core/common.js"></script>
    <script src="/src/client/app/core/config.js"></script>
    <script src="/src/client/app/core/constants.js"></script>
    <script src="/src/client/app/core/core.route.js"></script>
    <script src="/src/client/app/core/dataservice.js"></script>
    <script src="/src/client/app/core/emailService.js"></script>
    <script src="/src/client/app/intro/contact-form.controller.js"></script>
    <script src="/src/client/app/intro/enter-form.controller.js"></script>
    <script src="/src/client/app/intro/intro.controller.js"></script>
    <script src="/src/client/app/intro/intro.route.js"></script>
    <script src="/src/client/app/layout/footer.controller.js"></script>
    <script src="/src/client/app/layout/main.controller.js"></script>
    <script src="/src/client/app/layout/middlenav.controller.js"></script>
    <script src="/src/client/app/layout/pb-bio.directive.js"></script>
    <script src="/src/client/app/sections/education.directive.js"></script>
    <script src="/src/client/app/sections/experience/experience.controller.js"></script>
    <script src="/src/client/app/sections/experience/experience.route.js"></script>
    <script src="/src/client/app/sections/faq.controller.js"></script>
    <script src="/src/client/app/sections/other.controller.js"></script>
    <script src="/src/client/app/sections/profile.controller.js"></script>
    <script src="/src/client/app/sections/projects/projects.detail.controller.js"></script>
    <script src="/src/client/app/sections/projects/projects.list.controller.js"></script>
    <script src="/src/client/app/sections/projects/projects.route.js"></script>
    <script src="/src/client/app/sections/sections.route.js"></script>
    <!-- endinject -->
    <!-- inject:templates:js -->
    <!-- endinject -->
    <!-- endbuild -->
</body>

</html>